<header
[style.--couleur-ombre]="preferenceService.couleurPreferee()">
    <h1 hidden>MetAngular</h1>

    <img src="/beard.svg" alt="logo" witdh="30px" height="30px" (click)="goToWelcome()"> &nbsp; 
    <a routerLink="/textinterpolation">Text-Interpolation</a> &nbsp; 
    <a routerLink="/bindings">Bindings</a>&nbsp; 
    <a routerLink="/controlflow">Control-flow</a>&nbsp; 
    <a routerLink="/exosbindings">ExosBindings</a>&nbsp; 
    <a routerLink="/signals">Signals</a>&nbsp; 
    <a routerLink="/exossignals">ExosSignals</a>&nbsp; 
    <a routerLink="/productlist">Input</a>&nbsp; 
    <a routerLink="/outputvote">Output</a>&nbsp; 
    <a routerLink="/exosio">Exos-IO</a>&nbsp; 
    <a routerLink="/exemplespipes">Pipes</a>
</header>