.boite {
  padding: 1rem;
  border: 1px solid #aaa;
  margin-bottom: 0.5rem;
}
.actif  { border: 3px solid green; }
.clair  { background: #fff; color: #000; }
.sombre { background: #222; color: #fff; }

button { margin-right: 0.5rem; }
