<h3>Ajouter un produit :</h3>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
    @let nameFC = form.get('name');
    @let descriptionFC = form.get('description');
    @let priceFC = form.get('price');
    @let categoryFC = form.get('category');
    @let stockFC = form.get('stock');
    <div>
        <label>Nom</label>
        <input [class.valid]="nameFC?.valid" type="text" formControlName="name">
        @if(nameFC?.touched){
            @if(nameFC?.hasError('required')){
             <span>Champs requis</span>
            }@else if (nameFC?.hasError('minlength')) {
                <span class="erreur"><br>
                    Minimum {{nameFC?.errors?.['minlength'].requiredLength}} caractères <br>
                    Actuellement {{nameFC?.errors?.['minlength'].actualLength}} caractères
                 </span>
            }
        }
    </div>

    <div>
        <label>Description</label>
        <input type="text" formControlName="description">
    </div>

    <div>
        <label>Prix</label>
        <input type="number" formControlName="price">
    </div>

    <div>
        <label>Catégorie</label>
        <input type="text" formControlName="category">
    </div>

    <div>
        <label>Stock</label>
        <input type="number" formControlName="stock">
    </div>

    <div>
        <button type="submit" [disabled]="form.invalid">Enregistrer</button>

    </div>

</form>