<h3>3B10 - Combo total : panier filtrable</h3>

<div class="filtres">
    <button [class.actif]="filtre ==='tous'" (click)="setFiltre('tous')" >Tous</button>
    <button [class.actif]="filtre ==='fruit'" (click)="setFiltre('fruit')">Fruits</button>
    <button [class.actif]="filtre ==='legume'" (click)="setFiltre('legume')">Légumes</button>
    <button [class.actif]="filtre ==='boisson'" (click)="setFiltre('boisson')">Boissons</button>
</div>

<p>
<input type="checkbox" [(ngModel)]="cacherRupture"/>
Cacher les ruptures de stock
</p>



<div class="grille">

    @for (articleItem of articleFiltres; track articleItem.id){

        <article class="carte" [style.opacity]="articleItem.stock===0?0.4:1">
            <h4>{{articleItem.nom}}</h4>

            @switch(articleItem.categorie){
                @case("fruit"){ <span class="badge fruit">Fruit</span> }
                @case("legume"){ <span class="badge legume">Légume</span> }
                @case("boisson"){ <span class="badge boisson">Boisson</span> }
                @default {<span>Catégorie inconnue</span>}
            }

            <p>Prix: {{articleItem.prix}}</p>

            @if(articleItem.stock>0){
                <p>Stock: {{articleItem.stock}}</p>
            }@else {
                <p class="rupture">En rupture</p>
            }

            <button [disabled]="articleItem.stock===0" (click)="acheter(articleItem.id)">Acheter</button>

        </article>

    }@empty {
        <p>Aucun article ne correspond au filtre</p>
    }

</div>
